body {
    color: #999;
    font-size: 12px;
}

.mapa {
    height: 550px;
}

.row h1 {
    font-size: 2.4em;
}

.row h2 {
    font-size: 1.5em;
}

.row h1,
.row h2 {
    border-bottom: 1px solid #666;
    margin-top: 0px;
}

.party-select {
    list-style: none;
    padding: 0;
}

.party-select li {
    border-radius: 0px;
    width: 100%;
    margin-bottom: 2px;
    overflow: hidden;
    color: #999;
}

.party-select a {
    color: #333;
    background-color: #F2F2F2;
    text-decoration: none;
}

.party-select .indicator {
    display: inline-block;
    width: 10px;
    border-right: 1px solid #333;
    height: 2em;
    vertical-align: middle;
}

.party-select li.inactive .indicator {
    background-color: #272b30 !important;
}

.party-select li:hover {
    background: #272b30;
    color: #FFF;
}

.header h1 {
    display: inline-block;
}

#toggle-language {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

#toggle-year {
    padding-left: 5px;
    padding-top: 5px;
}

.circles {
    z-index: 100000;
}

.info {
    padding: 6px 8px;
    font: 14px/18px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}
